html {
  font-family: "Ubuntu Condensed", sans-serif;
  color: #fff;
  background-image: url("../images/starfield.png");
}

h1, p {
  text-shadow: 1px 1px 30px rgba(255, 255, 255, .7);
}

a {
  text-decoration: none;
}

.btn-ghost {
  color: #b4fff4;
  border-color: #90ccc3;
  border-radius: 8px;
  transition: all 200ms linear;
  transform-origin: center top;
  position: relative;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border-color: #90ccc3;
  border-radius: 8px;
}

.btn:active {
  position: absolute;
  top: 205px;
  right: 155px;
}
